#new-exit-popup {
  max-width: 948px;
  margin: 0 auto;
  // background-color: #fff;
}

.popup__border-out.popup__border-out--ex-p {
  
  background: #fff url("../img/ex-p-bg.jpg") no-repeat;
  background-position: left top 6px;
  background-size: 62.5% auto;

  @media (max-width: 900px) {
    background: #fff;
  }
}

.new-exit-popup {
  
  display: flex;
  justify-content: flex-end;

  z-index: 50;
  position: relative;

  @media (max-width: $size-tablet) {
    justify-content: center;
  }

  &::before {
    z-index: 55;
    content: "";
    position: absolute;
    left: 6%;
    bottom: -60px;

    width: 42.2%;
    // height: 610px;
    padding-bottom: 67.328%;

    background: url("../img/ex-p-phone.png") center / 100% auto no-repeat;

    @media (max-width: $laptop) {
      left: 2%;
    }

    @media (max-width: 900px) {
      width: 36%;
      left: 0;
    }

    @media (max-width: $size-tablet) {
      display: none;
    }
  }

  &__content {
    flex: 0 0 256px;
    // width: 256px;
    padding: 66px 80px 80px 0;

    @media (max-width: $size-tablet) {
      padding: 40px;
    }

    @media (max-width: $phone-portrait) {
      flex: 1 1 auto;
    }

    @media (max-width: $phone-portrait) {
      padding: 20px 10px;
    }
  }

  &__title-1 {
    font-weight: 700;
    font-size: 30px;
    line-height: normal;

    margin-bottom: 16px;
  }

  &__title-2 {
    @include gotham-regular-18;
    line-height: 1.3em;

    margin-bottom: 35px;
  }

  &__title-3 {
    font-weight: 500;
    font-size: 18px;
    line-height: normal;
  }

  &__form {
    padding-top: 30px;
  }

  &__line {
    display: flex;
    justify-content: space-between;

    &:not(:last-child) {
      margin-bottom: 16px;
    }

    &.new-exit-popup__line--wide {
      margin: 24px 0;

      input {
        padding: 0 20px;
        height: 50px;
      }
    }
  }

  &__input {
    display: none;
  }

  &__label {
    position: relative;
    box-sizing: border-box;
    cursor: pointer;
    display: block;
    background-color: #d9eaf1;
    border-radius: 25px;
    width: 168px;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;

    color: #323232;
    border: 1px solid rgba(#878787, 0);

    padding: 15px 0 15px 56px;
    transition-property: background-color, border;
    transition: 0.2s linear;

    @media (max-width: $phone-portrait) {
      width: 48%;
    }

    @media (max-width: 420px) {
      font-size: 14px;
      line-height: 16px;

      padding: 10px 0 10px 45px;
    }

    @media (max-width: $sm) {
      font-size: 12px;
      line-height: 14px;
  
      padding: 10px 0 10px 40px;
    }
  }

  &__input:checked + &__label {
    background-color: #e7f7ff;
    
    border: 1px solid rgba(#878787, 0.3);
  }

  svg {
    position: absolute;
    fill: #878787;
    top: calc(50% - 11px);
    left: 23px;

    @media (max-width: 420px) {
      left: 16px;
    }

    @media (max-width: $sm) {
      top: calc(50% - 9px);
    }
  }

  &__w-app {
    width: 22px;
    height: 22px;

    @media (max-width: $sm) {
      width: 18px;
      height: 18px;
    }
  }

  &__viber {
    width: 23px;
    height: 24px;

    @media (max-width: $sm) {
      width: 18px;
      height: 19px;
    }
  }

  &__telegram {
    width: 20px;
    height: 20px;

    @media (max-width: $sm) {
      width: 18px;
      height: 18px;
    }
  }

  &__phone {
    width: 20px;
    height: 20px;

    @media (max-width: $sm) {
      width: 18px;
      height: 18px;
    }
  }

  &__line--wide input {
    width: 100%;
  }

  &__btn {
    margin-bottom: 26px;

    @media (max-width: $phone-portrait) {
      width: 230px;
      margin: 0 auto;
      margin-bottom: 26px;
    }
  }

  &__submit {
    width: 356px;
    height: 62px;
    background: url("../img/y-btn-w356-62.png") 100% no-repeat;

    font-weight: 500;
    font-size: 18px;
    line-height: normal;

    box-shadow: 0px 0px 27.84px 4.16px rgba(246, 168, 0, 0.17);

    @media (max-width: $phone-portrait) {
      
      width: 230px;
      height: 50px;
      background: url("../img/y-btn-w230-50.png") 100% no-repeat;
    }
  }

  &__accept-conf {
    max-width: 235px;
    margin: 0 auto;
  }
}
