.adv-card-3 {
  padding-top: 270px;
  padding-left: 62px;

  @media (max-width: $size-big) {
    padding-top: 200px;
    // padding-left: 300px;
  }

  &__pic {
    left: -22px;
    width: 394px;
    height: 268px;
    background: url("../img/adv-blank-3.png") no-repeat;

    @media (max-width: $size-big) {
      width: 290px;
      height: calcHeight(394px, 264px, 290px);
      background-size: 290px calcHeight(394px, 264px, 290px);
    }
  }
}