.quiz-popup {

  &__down-block {
    display: flex;
    justify-content: space-between;

    &.quiz-popup__down-block--final {
      display: block;
    }

    @media (max-width: 900px) {
      flex-direction: column;
    }
  }

  &__left-block {
    flex: 1 1 auto;
  }

  &__right-block {
    margin-left: 40px;
    // width: 320px;
    flex: 0 0 350px;

    @media (max-width: 900px) {
      margin-left: 0;
      width: 350px;
      margin-bottom: 20px;
      order: -1;
      flex: 1 1 auto;
    }

    @media (max-width: 600px) {
      width: 300px;
    }

    @media (max-width:360px) {
      width: 195px;
    }
  }
  
}
